*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.kotlin

private.properties

keystore

config

/libs

# Business module
business/*/build

# Features module
features/*/build
features/*/*/build

# Navigation module
navigation/build

# Platform module
platform/build-logic/build

# Shared module
shared/*/build

# Screenshot tests module
screenshot-tests/build

# Ignore everything in .idea
.idea/*

# Allow code styles and inspections
!.idea/codeStyles/
!.idea/runConfigurations/

.claude/settings.local.json